[submodule "claude"]
	path = claude
	url = git@github.com:misiekhardcore/claude-config.git
[submodule "renovate"]
	path = renovate
	url = git@github.com:misiekhardcore/renovate-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:misiekhardcore/tmux-config.git
[submodule "ptyxis"]
	path = ptyxis
	url = git@github.com:misiekhardcore/ptyxis-config.git
[submodule "copilot-api-service"]
	path = copilot-api-service
	url = git@github.com:misiekhardcore/copilot-api-config.git
